.hero {
  background-color: $footer-background-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: auto;
  @media screen and (min-width: 480px) {
    padding-right: auto;
    background-color: $footer-background-color;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 200px;
    padding-right: auto;
    background-color: $footer-background-color;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    background-color: $footer-background-color;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: auto;
  }
  .hero__title {
    margin-right: 150px;
    margin-left: 150px;
    color: $accent-on-buttom;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 480px) {
      margin-right: auto;
      margin-left: auto;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
    }
    @media screen and (min-width: 768px) {
      margin-right: auto;
      margin-left: auto;
      font-size: 26px;
      line-height: 1.61;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
