@media screen and (min-width: 320px) and (max-width: 480px) {
  .tasks {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .tasks {
    display: none;
  }
}
@media screen and(min-width:768px) {
  .tasks {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .tasks {
    display: block;
  }
  .tasks__list {
    display: flex;
    gap: 30px;
    .tasks__item {
      position: relative;
    }
  }
  .tasks__thumb {
    &::before {
      display: inline-block;
      position: absolute;
      content: "";
      width: 370px;
      height: 70px;
      top: 224px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  .tasks__title {
    display: inline-block;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 82px;
    top: 251px;
  }
  .tasks {
    padding-top: 0;
    padding-bottom: 94px;
  }
}
