$primary-text-color: #212121;
$second-text-color: rgba(117, 117, 117, 1);
$footer-text-color: rgba(255, 255, 255, 0.6);
$accent-text-color: #2196f3;
$accent-on-buttom: #ffffff;
$background-color: #ffffff;
$second-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$page-bg-color: #f9f9fd;
$primary-text-font: "Roboto", sans-serif;
$border-color:#eeeeee;
$main-fill:#000000;